body{
    font-family: 'Roboto', sans-serif;
    margin: 0 ;
    box-sizing: border-box;
    background: center/ cover url(img/mathias-p-r-reding-N5pfn_06jLU-unsplash.jpg)
}

ul{
    list-style: none;
    padding: 0 ;
}

button{
    background-color: transparent;
    border: none;
    outline: none;
}

.container{
    margin: 0 auto;
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: center/cover url('img/karalina-s-8V7ymFP8-0M-unsplash.jpg') 
    no-repeat;
    padding: 1em;
    width: 40vw;
    min-width: 25em;
    border-radius: 0.5em;
    color: white;
    box-shadow: 1px 111px 30px 4px rgba(194, 159, 99, 0.589);    
}

h1{
    color: rgb(255, 255, 255);
    font-family: 'Dokdo', cursive;
    font-size: 4rem;
    margin: 0;
    margin-bottom: -1rem;
}

h3{
    font-weight: 200;
    font-size: 0.9rem;
    padding: 0.3em;
    background: #dd831dee;
}

.list{
    height: 60vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    justify-content: center;
}

.list__item{
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: space-between;
    background: #000000a2;
    padding: 10px;
    color: rgb(235, 235, 235);
    border-radius: 4px;
    font-size: 1rem;
    margin: 0.3em
}

.list__btn{
    color: #eb8d22;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 100ms ease-in;
}

.list__btn:hover{
    color: #fac17f;
}
.list__item::-webkit-scrollbar,
.list::-webkit-scrollbar,
.list__content::-webkit-scrollbar   {
    display: none; /* Chrome, Safari, Opera*/
}

.form__input{
    border: none;
    width: 100%;
    font-size: 1.5rem;
    background: transparent;
    color: #dbdbdb;
    padding: 4px;
    outline: none;
}
.form__btn{
    font-size: 3rem;
    color: #fac17f;
    margin: 0 auto;
    width: 100%;
}

@media screen and (max-width: 25.875em) {
    body{
        background: none;
        background-color: #eb8d22;
    }
    .container{
        margin-top: 2rem;
        width: 100vw;
        height: 100vh;
    }

}

